src/main/mule/hellomule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">

    <!-- Secure Properties Config (env based file required by schema) -->
    <secure-properties:config
            name="Secure_Config"
            file="secure-${mule.env}.yaml"
            key="${secure.key}">
        <secure-properties:encrypt algorithm="Blowfish" mode="CBC"/>
    </secure-properties:config>

    <!-- HTTP Listener -->
    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>

    <flow name="auth-flow">

        <http:listener path="/login"
                       config-ref="HTTP_Listener_config"
                       allowedMethods="GET"/>

        <choice>

            <!-- SUCCESS CONDITION -->
            <when expression="#[
                trim((p('username') default '') as String) == 'chandhu'
                and
                trim((p('secure::password') default '') as String) == 'welcome1'
            ]">

                <set-payload value='{"status":"SUCCESS","message":"Login successful"}'
                             mimeType="application/json"/>

            </when>

            <!-- FAILURE -->
            <otherwise>

                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[
%dw 2.0
output application/json
---
{
  status: "FAILED",
  message: "Invalid credentials",
  debug: {
    runtimeUsername: p('username'),
    decryptedPassword: p('secure::password')
  }
}
                        ]]></ee:set-payload>
                    </ee:message>
                </ee:transform>

            </otherwise>

        </choice>

    </flow>

</mule>
