src/main/mule/hellomule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">

    <!-- Load YAML -->
    <configuration-properties file="config/${mule.env}.yaml"/>

    <!-- Secure Config (same file) -->
    <secure-properties:config
            name="Secure_Config"
            file="config/${mule.env}.yaml"
            key="${secure.key}"/>

    <!-- HTTP Listener -->
    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>

    <flow name="auth-flow">

        <http:listener path="/login" config-ref="HTTP_Listener_config"/>

        <!-- Expect JSON Body -->
        <!-- {
             "username": "chandhu",
             "password": "mySecret123"
        } -->

        <choice>

            <when expression="#[
                payload.username == p('auth.username')
                and
                payload.password == p('auth.password')
            ]">

                <set-payload value='{"status":"SUCCESS","message":"Login successful"}'
                             mimeType="application/json"/>

            </when>

            <otherwise>

                <set-payload value='{"status":"FAILED","message":"Invalid credentials"}'
                             mimeType="application/json"/>

            </otherwise>

        </choice>

        <logger level="INFO" message="#[payload]"/>

    </flow>

</mule>
